:root {
  --primary-orange: #dc8920;
  --primary-light: #f6ecd8;
  --primary-purple: #4d243d;
  --primary-brown: #5c573e;
}

*,
*::before,
*::after {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-image: linear-gradient(
      rgba(201, 153, 93, 0.3),
      rgba(201, 153, 93, 0.3)
    ),
    url(./images/90688DFE-46D2-410F-969A-FCB3AE3230DA.jpeg);
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  color: var(--primary-brown);
}

.contentContainer {
  border-radius: 10px;
  background-color: var(--primary-light);
  padding: 50px 80px;
}

button {
  background-color: #dc8920;
  border: none;
  cursor: pointer;
}

.header-container {
  border-bottom: 2px solid var(--primary-brown);
  display: grid;
  justify-items: end;
  padding-bottom: 20px;
}

.header-container > h1 {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: var(--primary-orange);
}
