:root {
  --primary-orange: #dc8920;
  --primary-light: #f6ecd8;
  --primary-brown: #5c573e;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-image: linear-gradient(
      rgba(194, 114, 16, 0.3),
      rgba(194, 114, 16, 0.3)
    ),
    url(./images/90688DFE-46D2-410F-969A-FCB3AE3230DA.jpeg);
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  color: var(--primary-brown);
  font-family: "Reddit Mono", monospace;
}

.App {
  border-radius: 10px;
  background-color: var(--primary-light);
  padding: 50px 80px;
  height: 87dvh;
  width: 45dvw;
}

button {
  font: inherit;
  background-color: #dc8920;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 12px;
}

button:hover {
  background-color: #dc8b20c7;
}

.router-link {
  text-decoration: none;
  font: inherit;
  color: var(--primary-dark);
}

.router-link:hover {
  color: #5c573ec0;
  cursor: pointer;
}

.header-container {
  border-bottom: 2px solid var(--primary-brown);
  display: grid;
  justify-items: end;
  padding-bottom: 20px;
}

.header-container > .router-link > #site-heading {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: var(--primary-orange);
}

.header-container > .router-link > h4 {
  text-align: right;
  font-size: small;
  color: var(--primary-orange);
}

.router-link > #add-it {
  color: var(--primary-orange);
  font-size: medium;
}

.header-container > .router-link > h4:hover,
.header-container > .router-link > #site-heading:hover,
.router-link > #add-it:hover {
  color: #dc8b20c7;
}

.footer {
  border-top: 2px solid var(--primary-brown);
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.footer-item {
  width: 30%;
}

.footer-one,
.genre-one {
  border-right: 2px solid var(--primary-brown);
}

.footer-three,
.genre-three {
  border-left: 2px solid var(--primary-brown);
}

.footer-one,
.footer-two,
.footer-three {
  height: 100px;
  font-size: 14px;
}

.router-link > .retro-pin {
  height: 85px;
  width: 140px;
  border-radius: 6px;
}

.footer-item > .big-button {
  height: 110px;
  width: 145px;
  border-radius: 6px;
}

/*MAIN*/

.genre-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-top {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary-brown);
}

.genre-bottom {
  padding-top: 20px;
}

.genre-top,
.genre-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 100%;
}

.genre-box {
  width: 30%;
  height: 150px;
  padding: 10px 10px;
}

.router-link > img {
  height: 120px;
  width: 140px;
  border-radius: 6px;
}

/*FORMS*/

.form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-container > .form-itself {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid var(--primary-brown);
}

Form > fieldset {
  margin: 10px;
  width: 100%;
  border: 1px solid var(--primary-brown);
  border-left: none;
  border-right: none;
  border-top: none;
}

input,
option,
select {
  font: inherit;
}

.add-button,
.update-button,
.form-heading > h2 {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.add-button > Button,
.update-button > Button {
  width: 30%;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.update-form {
  border: none;
}

/*SHOW*/

.show-container {
  display: flex;
  flex-direction: column;
}

.show-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-brown);
  padding: 20px 10px;
}

.show-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 10px;
}

.show-options > button,
.show-options button {
  width: 200px;
  height: 50px;
  margin: 0 10px;
}

/*GENRE*/

.genre-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.genre-title {
  margin: 20px 20px;
  border-right: 2px solid var(--primary-brown);
  padding-right: 40px;
}

.genre-title > h2,
.index-div > h2 {
  font-size: 48px;
  color: var(--primary-orange);
  padding-bottom: 20px;
}

.genre-pic {
  height: 200px;
  width: 200px;
  border-radius: 6px;
}

.genre-list {
  margin: 10px 0;
  font-size: 12px;
  overflow: scroll;
  max-height: 40dvh;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-orange) var(--primary-light);
  scroll-behavior: smooth;
}

/*INDEX*/

.index-div > h2 {
  padding: 10px 10px;
  border-bottom: 1px solid var(--primary-brown);
}

.index-div > .whole-list {
  margin: 10px 0;
  font-size: 12px;
  overflow: scroll;
  max-height: 30dvh;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-orange) var(--primary-light);
  scroll-behavior: smooth;
}
