:root {
  --primary-orange: #dc8920;
  --primary-light: #f6ecd8;
  --primary-purple: #4d243d;
  --primary-brown: #5c573e;
}

*,
*::before,
*::after {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-image: linear-gradient(
      rgba(194, 114, 16, 0.3),
      rgba(194, 114, 16, 0.3)
    ),
    url(./images/90688DFE-46D2-410F-969A-FCB3AE3230DA.jpeg);
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  color: var(--primary-brown);
  font-family: "Reddit Mono", monospace;
}

.contentContainer {
  border-radius: 10px;
  background-color: var(--primary-light);
  padding: 50px 80px;
}

button {
  font: inherit;
  background-color: #dc8920;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 12px;
}

.header-container {
  border-bottom: 2px solid var(--primary-brown);
  display: grid;
  justify-items: end;
  padding-bottom: 20px;
}

.header-container > h1 {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: var(--primary-orange);
}

.footer {
  border-top: 2px solid var(--primary-brown);
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.footer-item {
  width: 30%;
}

.footer-one {
  border-right: 2px solid var(--primary-brown);
}

.footer-three {
  border-left: 2px solid var(--primary-brown);
}

.footer-one,
.footer-two,
.footer-three {
  height: 100px;
  font-size: 14px;
}
